<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="mystyles.css">
</head>

<body>
  <header id="tete">
    <h1>Mon blog de test javascript et node.js</h1>
  </header>
  
  <section class="liste">
    <div class="divider"></div>
    <h2>Liste des articles :</h2>
    <br>
    <ul>
      <% posts.forEach(post => { %>
        <li>
          <span class="badge text-bg-success">
            <a class="list" href="/post/<%= post.id %>"><%= post.title %></a>
          </span>
        </li>
      <% }); %>
    </ul>
    <div class="divider"></div>
  </section>
  
  <section class="publication">
    <h3 class="ajout">Ajouter un nouvel article</h3>
    <br>
    <div>
      
      <form action="/add-post" method="POST">
        <div class="mb-3">
          <label for="titreArticle" class="form-label">Titre de votre publication</label>
          <input type="text" class="form-control" id="titreArticle" placeholder="Entrez le titre" name="title" required>
        </div>
        <div class="mb-3">
          <label for="contenuArticle" class="form-label">Contenu de l'article</label>
          <div class="input-group">
          <span class="input-group-text">Votre texte :</span>
          <textarea name="content" class="form-control" aria-label="With textarea" id="contenuArticle" required></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Ajouter l'article</button>
      </form>
    </div>
  </section>
  


  <footer>
    <div>
      <div class="divider"></div>
      <a class="up" href="#tete">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"/>
        </svg>
      </a>
      <h1 class="year">
        <i>Nous sommes en <span id="currentYear"></span></i></span>
      </h1>
    </div>
    <section>
      <div>
        <div>
          <svg class="wave w1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
          <path fill="#0099ff" fill-opacity="0.9" d="M0,192L26.7,186.7C53.3,181,107,171,160,154.7C213.3,139,267,117,320,117.3C373.3,117,427,139,480,138.7C533.3,139,587,117,640,122.7C693.3,128,747,160,800,170.7C853.3,181,907,171,960,170.7C1013.3,171,1067,181,1120,170.7C1173.3,160,1227,128,1280,138.7C1333.3,149,1387,203,1413,229.3L1440,256L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z"></path>
          </svg>
    
          <svg class="wave w2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
          <path fill="#D933FF" fill-opacity="0.6" d="M0,192L26.7,186.7C53.3,181,107,171,160,154.7C213.3,139,267,117,320,117.3C373.3,117,427,139,480,138.7C533.3,139,587,117,640,122.7C693.3,128,747,160,800,170.7C853.3,181,907,171,960,170.7C1013.3,171,1067,181,1120,170.7C1173.3,160,1227,128,1280,138.7C1333.3,149,1387,203,1413,229.3L1440,256L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z"></path>
          </svg>
    
          <svg class="wave w3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
          <path fill="#33D3FF" fill-opacity="0.3" d="M0,192L26.7,186.7C53.3,181,107,171,160,154.7C213.3,139,267,117,320,117.3C373.3,117,427,139,480,138.7C533.3,139,587,117,640,122.7C693.3,128,747,160,800,170.7C853.3,181,907,171,960,170.7C1013.3,171,1067,181,1120,170.7C1173.3,160,1227,128,1280,138.7C1333.3,149,1387,203,1413,229.3L1440,256L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z"></path>
          </svg>
        </div>
        <div>
          <svg class="wave2 w4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
          <path fill="#0099ff" fill-opacity="0.9" d="M0,192L26.7,186.7C53.3,181,107,171,160,154.7C213.3,139,267,117,320,117.3C373.3,117,427,139,480,138.7C533.3,139,587,117,640,122.7C693.3,128,747,160,800,170.7C853.3,181,907,171,960,170.7C1013.3,171,1067,181,1120,170.7C1173.3,160,1227,128,1280,138.7C1333.3,149,1387,203,1413,229.3L1440,256L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z"></path>
          </svg>
    
          <svg class="wave2 w6  5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
          <path fill="#D933FF" fill-opacity="0.6" d="M0,192L26.7,186.7C53.3,181,107,171,160,154.7C213.3,139,267,117,320,117.3C373.3,117,427,139,480,138.7C533.3,139,587,117,640,122.7C693.3,128,747,160,800,170.7C853.3,181,907,171,960,170.7C1013.3,171,1067,181,1120,170.7C1173.3,160,1227,128,1280,138.7C1333.3,149,1387,203,1413,229.3L1440,256L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z"></path>
          </svg>
    
          <svg class="wave2 w6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
          <path fill="#33D3FF" fill-opacity="0.3" d="M0,192L26.7,186.7C53.3,181,107,171,160,154.7C213.3,139,267,117,320,117.3C373.3,117,427,139,480,138.7C533.3,139,587,117,640,122.7C693.3,128,747,160,800,170.7C853.3,181,907,171,960,170.7C1013.3,171,1067,181,1120,170.7C1173.3,160,1227,128,1280,138.7C1333.3,149,1387,203,1413,229.3L1440,256L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z"></path>
          </svg>
        </div>
      </div>
    </section>
  </footer>

  <script>
      // Obtenir l'année actuelle
      var currentYear = new Date().getFullYear();

      // Mettre à jour le contenu de l'élément HTML avec l'année actuelle
      document.getElementById('currentYear').textContent = currentYear;
  </script>
  
</body>

</html>